# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/src/main/resources/assets/vineyardmod/textures/block/barrel_bottom.png
/src/main/resources/assets/vineyardmod/textures/block/barrel_side.png
/src/main/resources/assets/vineyardmod/textures/block/barrel_top.png
